# Firebase configuration

VITE_FIREBASE_API_KEY=             # Firebase API key for your project (used for authentication and requests)
VITE_FIREBASE_AUTH_DOMAIN=         # Domain used for Firebase Authentication
VITE_FIREBASE_PROJECT_ID=          # Unique identifier of your Firebase project
VITE_FIREBASE_STORAGE_BUCKET=      # Cloud Storage bucket used to store files (images, etc.)
VITE_FIREBASE_MESSAGING_SENDER_ID= # Sender ID for Firebase Cloud Messaging (FCM)
VITE_FIREBASE_APP_ID=              # App ID used to identify your Firebase app instance
VITE_FIREBASE_MEASUREMENT_ID=      # Used for Google Analytics (optional)

# Cloudinary configuration

VITE_CLOUD_NAME=                   # Your Cloudinary cloud name (used for image hosting)
VITE_PRESET_NAME=                  # Upload preset name configured in your Cloudinary account
